*.log
*.log
*.sublime-workspace
.DS_Store
.dockerignore
.eslintcache
.idea
.vscode
Dockerfile
LoadTest/target
assets/iconfont
bower_components
build
coverage
dist
local*.json
localfiles
node_modules
npm-debug.log
npm-shrinkwrap.json
package-lock.json
reports
src/client/app/_staricon*
tests_output
tests/e2e/reports
tmp
.java-version